.App {
  font-family: Arial, sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  text-align: center;
  border-bottom: 3px solid #333;
  padding-bottom: 20px;
}

.perfil-foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

h1, h2 {
  margin: 10px 0;
}

h3 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #006ca7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

section h3 {
  margin-top: 0;
  color: #444;
}

section h4 {
  font-weight: bold;
}

.contato, .experiencia, .educacao, .habilidades {
  margin-top: 20px;
}

.contato li, .experiencia li, .educacao li, .habilidades li {
  padding: 5px 0;
}

/* Estilo específico para a seção de habilidades */
.habilidades-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.habilidades-list li {
  text-align: center;
  width: 100px; /* Tamanho fixo para os itens */
}

.tech-icon {
  width: 75px; /* Tamanho maior para as imagens */
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px; /* Espaço entre a imagem e o nome */
}

.habilidades-list p {
  margin: 0;
  font-size: 14px; /* Tamanho da fonte do nome */
}